* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}
html {
    min-height: 100%;
}

body {
    background: url("/assets/img/background-2.webp") center center no-repeat fixed;
    background-size: cover;
}

.box{
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 6px;
    background: #ffffff82;;
    max-width: 100%;
}

.box .content {
    height: 550px;
    padding: 25px;
    border-radius: 0 0 6px 6px;
}

.box-form{
    text-align: center;
    margin-top: 10%;
    display: grid;
    grid-template-columns: min-content;
    align-items: center;
    justify-content: center;
}

.content input {
    border: 0;
    border-radius: 35px !important;
    padding: 10px;
    margin-top: 20px;
}

.content button {
    background: #4a90e2;
    color: #fff;
    border-radius: 30px !important;
    padding: 10px 45px;
    margin-top: 30px;
}

.ref-albums{
    position: relative;
    top: 50px;
    color: #fff !important;
    
}

@media(max-width:768px) {
    .content button {
        width: 80% !important;
        margin-top: 30px;
    }

    .ref-albums{
        position: relative;
        top: 110px;
        color: #fff !important;
    }
}
