* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    
}
html {
    min-height: 100%;
}

body {
    background: url("/assets/img/background.png") center center no-repeat fixed;
    background-size: cover;
}

th{
    font-weight:initial !important;
}

th.trackNumber{
    width: 5%;
}

th.trackDuration{
    width: 6%;
}
a{
    text-decoration: none !important;
}

.navbar{
    padding: 25px;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar img{
    max-width: 60px;
}

.navbar img:hover{
    transform: scale(1.3);
    transition: 0.5s;
    max-width: 60px;
}

.user-logout{
    color: #b5b5b5;
}

.user-logout:hover{
    color: #000;
}

.col-md-3.welcome{
    text-align: center;
}

.col-md-3.profile{
    text-align: end;
}

.box{
    margin-top: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 6px;
    background: #ffffff82;;
}

.box-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #69696c;
    background: #fff;
    border-radius: 6px 6px 0 0;
    padding: 20px;
}

.box .content {
    height: auto;
    padding: 25px;
    border-radius: 0 0 6px 6px;
}

.content p {
    margin: 3px;
    color: #837c7c;
}

.content input {
    border: 0;
    border-radius: 35px !important;
    padding: 10px;
}

.content button {
    background: #4a90e2;
    color: #fff;
    border: 0;
    border-radius: 30px !important;
    padding: 10px 50px;
    margin-left: 10px !important;
    font-weight: 300;
}

.albums{
    margin-top: 15px;
}
.albums p{
    font-weight: bold;
    color: #000;
}

.album-title{
    display: flex;
    justify-content: space-around;
}

.albums-container{
    background: #ffffff;
    padding: 20px 25px;
    border-radius: 21px;
    margin-bottom: 14px;
}


.album-content a{
    color: #fff;
}

@media all and(max-width:768px) {
    .content button {
        width: 100% !important;
    }
}

